// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #08a4a7;
$cyan: #6cb2eb;

// create text color
.text-blue{
    color: $blue !important;
}
.text-indigo{
    color: $indigo !important;
}
.text-purple{
    color: $purple !important;
}
.text-pink{
    color: $pink !important;
}
.text-red{
    color: $red !important;
}
.text-orange{
    color: $orange !important;
}
.text-yellow{
    color: $yellow !important;
}
.text-green{
    color: $green !important;
}
.text-teal{
    color: $teal !important;
}
.text-cyan{
    color: $cyan !important;
}
.text-white{
    color: #fff !important;
}
.text-black{
    color: #000000 !important;
}